/* section.products {
    padding: 40px 0;
} */

section.products .container {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    align-items: center;
    /* margin-top: 5px; */
}

section.products .product {
    margin-top: 10px;

}

.container .card {
    background-color: var(--light-blue);
    width: 90%;
}