section.products {
    padding: 40px 0;
    
}
section.products .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
section.products .product {
    /* background-color: rgb(219, 218, 218); */
    height: 300px;
    width: 100%;
    text-align: center;
    /* border: 4px solid rgba(216, 216, 216, 0.795); */
    /* border-radius: 15px;  */
    margin: 5px;

}

/* Responsive =============================== */

@media screen and (min-width: 576px) {
    .container {
        max-width: 540px;
        padding: 0;
        
    }
    section.products .container {
        flex-direction: row;
       
    }
    
    section.products .product {
        width: 33%;
        margin-bottom: 0;
    }
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
   }
}
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}