.carousel-content {
    padding: 0 50px;
    position: absolute;
    font-size: 10px;
    bottom: 0;
    left: 0; 
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
    color: whitesmoke;
}

/* Responsive Carousel =============================== */

@media screen and (min-width: 576px) {
    .carousel-item .carousel-content {
        position: absolute;
        font-size: 1em;
        bottom: 5%;
        left: 1%;
        z-index: 20;
        color: white;
        text-shadow: 0 5px 5px rgba(0,0,0,.6);
    }
}
@media screen and (min-width: 768px) {
    .frase-carousel {
        max-width: 720px;
    }
}
@media screen and (min-width: 992px) {
    .frase-carousel {
        max-width: 960px;
   }
}
@media screen and (min-width: 1200px) {
    .frase-carousel {
        max-width: 1140px;
    }
}