.container-contato {
   width: 55%;
   display: inline-block;
}

.container-contato ul {
   list-style-type: none;
}

.contato-lista {
   line-height: 1.5;
   font-size: 1rem;
}

.contato-map {
   width: 40%;
   display: inline-block;
   margin: 0.5rem;
}

.svg {
   width: 1rem;
}