:root {
    --texto: #1d1d1d;
    --navfooter: #EFF7F6; 
    --dark-blue: #7bdff2;
    --light-blue: #b2f7ef;
    --white: #eff7f6;
    --light-pink: #f7d6e0;
    --dark-pink: #f2b5d4;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    color: var(--texto);
   }

/* Navbar ===================== */

header {
    /* background-color: var(--navfooter); */
    color: var(--texto);
    height: 60px;
    background: linear-gradient(90deg, rgb(224, 172, 188) 0%, rgb(139, 102, 241) 100%);
}

header img.logo {
    max-width: 300px;
    height: 50px;
    }

header .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-top: 10px;
}

header nav {
    display: none;
}

header ul {
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin-left: 14px;
    font-size: 14px;
}

/* Hero ===================== */

section.hero {
    /* background-image: url(https://source.unsplash.com/random/1600x1000); */
    /* background-image: url(https://source.unsplash.com/random/1600x1000); */
    background: linear-gradient(90deg, rgb(224, 172, 188) 0%, rgb(139, 102, 241) 100%);
    height: 300px;
    background-size: cover;
}

section.hero .hero-content {
    color: white;
    
    }
    
section.hero .container {
    height: 100%;
    display: flex;
    align-items: center;
    text-shadow: 5px 5px 6px rgba(45, 40, 45, 0.3);
    color: #2d282d;
}
    
section.hero .hero-content h2 {
    margin: 0;
    font-size: 32px;
    font-weight: 1000px;
    }

section.hero .hero-content p {
    margin: 8px 0;
    max-width: 300px;
    font-size: 14px;
}

/* Cards ===================== */

section.products {
    padding: 40px 0;
    
}

section.products .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

section.products .product {
    background-color: rgb(219, 218, 218);
    height: 300px;
    width: 100%;
    text-align: center;
    border: 4px solid rgba(216, 216, 216, 0.795);
    border-radius: 15px;
    margin: 5px;
    
}

footer {
    align-items: center;
}

.container {
    width: 100%;
    max-width: 100%;
    margin: auto;
    padding: 0 15px;
    box-sizing: border-box;
    /* border: 1px solid yellow; */
}

footer {
    background-color: #363636;
    color: white;
    padding: 15px 0;
    text-align: center;
    overflow-wrap: break-word;
}

@media screen and (min-width: 576px) {
    .container {
        max-width: 540px;
        padding: 0;
    }
    header .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }
    header nav {
        display: block;
    }
    section.products .container {
        flex-direction: row;
    }
    
    section.products .product {
        width: 33%;
        margin-bottom: 0;
        
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
   }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

}