.container button {
    background: var(--dark-blue);
    color: var(--texto);
    display: block;
    margin: 0 auto;
    font-size: 1.3rem;
    border: 0;
    transition: 1s all;
}

.container button:hover {
    background-color: var(--light-blue);
    color: var(--texto);
    transform: scale(1.1);
}