.container-psicoterapia {
    margin: 5% 5%;
    display: flex;
}

.container-psicoterapia-text {
    width: 60%;
    float: left;
    /* font-size: 20px; */
    justify-content: left;
    text-align: justify;
    margin-left: 0;
}

.container-psicoterapia-img {
    width: 60%;
}

.container-psicoterapia-img>img {
    padding-left: 20%;
    width: 80%;
    height: 100%;
}

.atendimento-text {
    text-align: center;
}

/* Responsive =============================== */

@media screen and (min-width: 576px) {
    .container {
        max-width: 540px;
        padding: 0;
    }

    .atendimento-text {
        text-align: center;
        padding: 50px 0 0 0;
    }
    
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
   }
}
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
